* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #e83c3c;
    /* --main-color: #C75872; */
    /* --main-color: #009556; */
    /* --main-color: #e8853b; */
    --tag-color: #0c73c2;
    /* --light-bg-color: #f9f9f9; */
    --light-bg-color: #3eede7;
    /* --light-main-color: #000000; */
    --light-main-color: #ba6173;
    --light-text-color: #16181c;
    /* --light-aside-bg-color: #f9f9f9; */
    /* --light-aside-bg-color: linear-gradient(to right bottom, #00c3ff, pink); */
    --light-aside-bg-color: linear-gradient(to right top, #dbe6f6, #1cefff, #9cecfb, #ec6ead, );
    /* --light-footer-bg-color: #f9f9f9; */
    /* --light-footer-bg-color: #70f3ff; */
    --light-footer-bg-color: rgb(242, 222, 225);
    /* --light-icon-active-color: #2d8cf0; */
    --light-icon-active-color: #fff;
    /* light 活跃时字体颜色 */
    --light-text-tint: #2d8cf0;
    /* --light-text-tint: #fff; */
    --light-text-tint: #e8853b;
    /* light鼠标hover背景色 */
    --light-hover-bg-color: #f9f9f9;

    /* table斑马线颜色 */
    --dark-table-stripe-color: #232529;
    --table-stripe-color: #f9f9f9;
    --animation-base-time: .4s;
}

h4 {
    padding: 10px 10px;
}

.scroll {
    height: 100%;
}

.dance-music-group {
    padding: 10px 100px 0px 100px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    /* background-color: #f5f5f5; */
    color: #3eede7;
    border-radius: 25%;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}